<%- include("partials/head.ejs") %>
<body>

    <div class="m-5">
    <%- include("partials/header.ejs") %>
    <%- include("partials/nav.ejs") %>
    <div class="shadow p-3 mb-5 bg-body rounded">
    <div class="mb-3">
    <div class="wrapper">
        <% products.forEach(product=>{%>
            <div class="box">
                <a href="store/<%= product._id %> "><img align="center" width="125px" src=<%= product.img %>>
                <p><%= product.name %> </p></a>
                <small>PRICE: $<%= product.price.toFixed(2)%> </small>  
            </div>
    
       <% }) %> 
    </div>
    </div>

    <section>
        <form action="/store/new">
            <button type="submit" class="btn btn-primary mb-3">Create New Product</button>
        </form>
     </section>
     </div>

    </div>
</body>
</html>